[submodule "third_party/drive-any-robot"]
	path = third_party/drive-any-robot
	url = https://github.com/YuquanDeng/drive-any-robot.git
[submodule "third_party/habitat-sim"]
	path = third_party/habitat-sim
	url = https://github.com/YuquanDeng/habitat-sim
[submodule "third_party/habitat-lab"]
	path = third_party/habitat-lab
	url = https://github.com/YuquanDeng/habitat-lab